%legend
  Звонки

.row{style: 'margin-top: 25px'}
  .col-md-12
    %table.table.table-striped
      - @calls.each do |call|
        %tr
          %td
            = Russian::strftime(call.date, "%d %b (%H:%M)")
          %td
            = "##{call.client_id}"
          %td
            = call.client.name
          %td
            = call.client.phone
          %td
            = call.reason
          %td
            = link_to 'подробнее', client_call_path(call.client, call)
