%legend
  Клиенты


.row
  .col-md-12
    %ul.nav.nav-tabs.nav-justified
      %li{class: params[:with_status] == nil ? 'active' : ''}
        = link_to 'Все', clients_path
      %li{class: params[:with_status] == 'active' ? 'active' : ''}
        = link_to 'В работе', clients_path(with_status: :active)
      %li{class: params[:with_status] == 'recall' ? 'active' : ''}
        = link_to 'Перезвоны', clients_path(with_status: :recall)
      %li{class: params[:with_status] == 'new' ? 'active' : ''}
        = link_to 'Новые', clients_path(with_status: :new)
      %li{class: params[:with_status] == 'rejected' ? 'active' : ''}
        = link_to 'Откзазы', clients_path(with_status: :rejected)
      %li{class: params[:with_status] == 'sale' ? 'active' : ''}
        = link_to 'Sale', clients_path(with_status: :sale)


.row{style: 'margin-top: 25px'}
  .col-md-12
    %table.table.table-striped
      - @clients.each do |client|
        %tr
          %td
            = client.id.to_s
          %td
            = client.name
          %td
            = client.phone

          %td
            - if [Client.statuses(:rejected)].include? client.status_cd
              - span_class = 'label-danger'

            - elsif Client.statuses(:thinking, :in_progress).include? client.status_cd
              - span_class = 'label-info'

            - elsif Client.statuses(:waiting_for_email, :send_email).include? client.status_cd
              - span_class = 'label-warning'

            - elsif [Client.statuses(:mailed)].include? client.status_cd
              - span_class = 'label-primary'

            - elsif Client.statuses(:prepayment_received, :in_work, :success).include? client.status_cd
              - span_class = 'label-success'

            - else
              - span_class = 'label-default'


            %span.label{class: span_class}
              = Client.statuses_for_select[client.status_cd][0]


          %td
            = Russian::strftime(client.created_at, "%d %b %Y (%H:%M)")

          %td
            = link_to 'просмотреть', client_path(client)